/* variables.css */
:root {
    /* Tamaños */
    --max-width: 1000px;
    --image-height: 200px;
    --avatar-height: 300px;
  
    /* Escala em */
    --em-size-zero: 0em;
    --em-size-default: 1em;   /* 16px */
    --em-size-medium: 2em;
    --em-size-big: 4em;
    --em-size-xbig: 6em;
  
    /* Escala numérica */
    --size-zero: 0;
    --size-small: 2;          /* 8px */
    --size-default: 4;        /* 16px/1em */
    --size-medium: 6;         /* 32px */
    --size-big: 8;            /* 48px */
    --size-xbig: 9;
  
    /* Efecto glassmorphism */
    --glassmorphism-bg: rgba(225, 225, 225, 0.25);
    --glassmorphism-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    --glassmorphism-border: 2px solid rgba(225, 225, 225, 0.15);
    --glassmorphism-radius: 20px;
    --glassmorphism-filter: blur(0.1px);
  }
  
  /* body {
    background: #000000;
    background: #fff7f1;
  } */